.App{
  display: flex;
  width: 100%;
}
.layout {
  margin: 0 15px 0 15px;
}
.title{
  margin: 28px 0;
  max-width: 600px;
  font-size: 28px;
  font-weight: 500;
  line-height: 33.6px;
}
.title_programm{
  margin-bottom: 27px;
  font-size: 22px;
  font-weight: 700;
}
.programms{
  display: grid;
  margin-bottom: 44px;
}

@media screen and (min-width: 1024px){
  .layout {
    height: 100vh;
    max-width: 1256px;
    margin-left: auto;
    margin-right: auto;
  }
  .title{
    margin: 70px 0 90px 0;
    max-width: none;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
  }
  .title_programm{
    margin-bottom: 54px;
    font-size: 26px;
  }
  .programms{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 45px;
  }
}  